<ion-view view-title="{{device.name}}">
  <ion-content class="padding">

        <ionic-datepicker input-obj="datepickerObject">
		  <button class="button button-block button-positive"> 
		  	<i class="icon ion-calendar"></i>
		  	{{datepickerObject.inputDate | date:datepickerObject.dateFormat}}
		  </button>
		</ionic-datepicker>

		<div>
			<h3>Daily Average: {{dailyAvg}}</h3>
		</div>

		<ion-list>
	        <div ng-repeat="hour in hourSegments">
	          	<ion-item class="item-stable" ng-click="toggleGroup(hour)" ng-class="{active: isGroupShown(hour)}">
	              	<i class="icon" ng-class="isGroupShown(hour) ? 'ion-minus' : 'ion-plus'"></i>
	            	&nbsp;
	            	{{hour.label}}
	            	<div style="float:right">
	            		{{dayData.hours[hourSegments.indexOf(hour)].avg}}
	            	</div>
	          	</ion-item>
	          	<div ng-repeat="minute in minuteSegments" >
		          	<ion-item class="item-stable quarter-hour" ng-show="isGroupShown(hour)" ng-click="toggleGroup(minute)">
		          		<i class="icon" ng-class="isGroupShown(minute) ? 'ion-minus' : 'ion-plus'"></i>
		          		&nbsp;&nbsp;&nbsp;&nbsp;
		            	{{hour.label.substring(0, 2)}}{{minute.label.substring(0, 6)}}{{hour.label.substring(0, 2)}}{{minute.label.substring(6)}}

		            	<div style="float:right">
		            		{{dayData.hours[hourSegments.indexOf(hour)].averages[minuteSegments.indexOf(minute)]}}
		            	</div>
		          	</ion-item>
		          	<!-- <ion-item class="item-accordion" ng-show="isGroupShown(minute)" ng-repeat="data in dayData[hourSegments.indexOf(hour)] track by $index">
		            	Look: {{data}}
		          	</ion-item> -->
		          	<ion-item class="item-accordion" ng-show="isGroupShown(minute) && isGroupShown(hour)" ng-repeat="n in range(0, 14)">
		            	{{hour.label.substring(0, 2)}}:{{('0' +  (n + (15 * minuteSegments.indexOf(minute)))).slice(-2)}} 

		            	<div style="float:right">
		            		{{ dayData.hours[hourSegments.indexOf(hour)][n + (15 * minuteSegments.indexOf(minute))] }}
		            	</div>
		          	</ion-item>

		          	{{dayData[hourSegments.indexOf(hour)]}}
		        </div>
	        </div>
	    </ion-list>
    
  </ion-content>
</ion-view>
