<ion-view view-title="Locations">
  <ion-content class="padding">

    <div ng-if="!data" class="spinner-container">
      <ion-spinner icon="android"></ion-spinner>
    </div>

    <div ng-if="data" class="list">
      <a class="item item-icon-left" ng-click="viewLocation()">
        <i class="icon ion-home"></i>
        {{data.location}}
      </a>
    </div>
    
  </ion-content>
</ion-view>
