<ion-view view-title="AEM Station">
  <ion-content class="padding">

    <div ng-if="data" class="list">
      <a class="item item-icon-left" ng-click="viewDevice(device)" ng-repeat="device in data.devices">
        <i class="icon ion-android-print"></i>
        {{device.name}}
      </a>
    </div>
    
  </ion-content>
</ion-view>
